<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FontanaKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Spreadit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SpreaditSharer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96B1C4881BE159CA00114C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B1C49C1BE159CA00114C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B1C4A71BE159CA00114C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B1C4BD1BE15A5700114C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B1C4D01BE167F700114C26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F99F611C0AEEA7005D6364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
